@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
    background: #f2f2f2;
}
.movie_container {
    position: absolute;
    top: 100px;
    overflow: hidden;
}

.movie_container > div {
    display: flex;
    flex-wrap: wrap;
}
img.anime_posters_conatiner {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
}
.anime_posters_conatiner:hover .anime_posters,
.anime_posters_conatiner:focus .anime_posters {
    transform: scale(1.2);
    z-index: 1;
}
img.anime_posters {
    border-radius: 15px;
    /* display: inline-block; */
    transition: 0.5s;
    width: 185px;
    height: 265px;
    object-fit: cover;
}
.anime_posters_conatiner {
    border-radius: 15px;
    margin: 20px 0px 10px 28px;
    width: 185px;
    height: 265px;
    display: inline-block;
    overflow: hidden;
}
.headings {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    margin: 40px 0px 5px 25px;
    padding: 5px 8px;
}
#search_results {
    display: none;
}
hr {
    border: 3px solid #23aaf2;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
}
form {
    display: block;
    position: relative;
    width: 75%;
    margin: 15px auto;
}
form input[type="text"] {
    text-align: center;
    position: relative;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    outline: none;
    height: 20px;
    /* margin: 30px 25%; */
    padding: 8px 5px;
    transition: 0.2s all ease;
}
form input[type="text"]:focus {
    border-bottom: 3px solid rgb(226, 111, 111);
}
