.signup {
    max-width: 270px;
    margin-top: 150px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    border-radius: 30px;
    box-shadow: -5px -5px #e6e6e6, -8px -8px 7px #ffb833;
}

.signup > form {
    display: grid;
    flex-direction: column;
}

.signup form h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #348fff;
    font-family: "Poppins", sans-serif;
}

.signup > form > input {
    position: relative;
    outline-width: 0;
    height: 35px;
    margin: 5px auto 14px;
    /* margin-bottom: 14px; */
    border-radius: 14px;
    padding: 5px 10px;
    background: none;
    border: 1px solid red;
    width: 72%;
    transition: 0.3s all ease;
    text-align: center;
    font-family: "Lato", sans-serif;
}
.signup > form > input:focus {
    width: 92%;
}
.signup form button {
    margin: 20px auto 0px;
    padding: 12px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    width: 60%;
    border: 1px solid #348fff;
    border-radius: 25px;
    font-family: "Lato", sans-serif;
    font-size: 0.9em;
    transition: 0.3s all ease;
}
.signup form button:hover {
    background-color: #348fff;
}
#reg_btn {
    margin-top: 10px;
}
#logo {
    margin-bottom: -5px;
    width: 38px;
    height: auto;
}